# Make this file at root
root = true

[*]
charset = utf-8

end_of_line = LF
insert_final_newline = true
trim_trailing_whitespace = true

indent_style = tab

[Makefile]
indent_style = tab

[makefile]
indent_style = tab

[*.go]
indent_style = tab

[*.yml]
indent_style = space

[*.yaml]
indent_style = space
