# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Ignore vendor folder: every environment needs to build their own based on package management.
vendor/

# Log files should be ignored
*.log
logs/Logs
*.idea/

tests/unit/*.log
tests/unit/*.json

# VS Code config
.vscode

# Data dir
app/data/*

**/.DS_Store


