# Golang CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-go/ for more details
# Changed from 2.0 to 2.1 so orbs can be used.
version: 2.1

# Jobs Definitions
jobs:
  # Generic build job
  # TODO: Make builds for all platforms where Pocket Core is expected to run
  build:
    docker:
      - image: circleci/golang:1.13
        environment:
          GO111MODULE: "on"
    working_directory: /go/src/github.com/pokt-network/pocket-core
    steps:
      # Checkout the code
      - checkout
      # Install dependencies
      - run: ./deps.sh
      # Install cleveldb dependencies
      - run: apt-get install libleveldb-dev
      # Build the binary
      - run: go build -tags cleveldb app/cmd/pocket_core/main.go
      # Cache build
      - save_cache:
          key: pocket-core-build-{{ .Environment.CIRCLE_SHA1 }}
          paths:
            -  /go/src/github.com/pokt-network/pocket-core
      # Run tests
      #- run: go test -p 1 ./...
  # Generic test job
  # TODO: Expand the testing capabilities
  test:
    docker:
      - image: circleci/golang:1.13
        environment:
          GO111MODULE: "on"
    working_directory: /go/src/github.com/pokt-network/pocket-core
    steps:
      # Restore build cache
      - restore_cache:
          key: pocket-core-build-{{ .Environment.CIRCLE_SHA1 }}
      # Run tests
      - run: go test -short -p 1 ./...
  # Job to trigger the Pocket Core deployments CI with a specific branch
  trigger-pocket-core-deployments-branches:
    docker:
      - image: circleci/golang:1.13
        environment:
          GO111MODULE: "on"
    working_directory: /go/src/github.com/pokt-network/pocket-core
    steps:
      # Restore build cache
      - restore_cache:
          key: pocket-core-build-{{ .Environment.CIRCLE_SHA1 }}
      # Show the current branch
      - run: # test what branch we're on.
          name: "Current Branch"
          command: echo ${CIRCLE_BRANCH}
      # Trigger Pocket Core deployments CI
      - run:
          name: Trigger Pocket Core Deployment build using branch.
          command: "sh .circleci/trigger.sh ${POCKET_CORE_DEPLOYMENTS_TRIGGER_API_KEY} ${CIRCLE_BRANCH} 1.13 master"
  # Job to trigger the Pocket Core deployments CI with a specific tag
  trigger-pocket-core-deployments-tags:
    docker:
      - image: circleci/golang:1.13
        environment:
          GO111MODULE: "on"
    working_directory: /go/src/github.com/pokt-network/pocket-core
    steps:
      # Restore build cache
      - restore_cache:
          key: pocket-core-build-{{ .Environment.CIRCLE_SHA1 }}
      # Show the current Tag
      - run: # test what tag we're on.
          name: "Current Tag"
          command: echo ${CIRCLE_TAG}
      # Trigger Pocket Core deployments CI
      - run:
          name: Trigger Pocket Core Deployment build using tags.
          command: "sh .circleci/trigger.sh ${POCKET_CORE_DEPLOYMENTS_TRIGGER_API_KEY} ${CIRCLE_TAG} 1.13 master"

# Workflow definitions
workflows:
  version: 2
  build-test-deploy:
    jobs:
      - build
      - test:
          requires:
            - build
      - trigger-pocket-core-deployments-branches:
          requires:
            - test
          filters:
            branches:
              only:
                - staging
                - master
      - trigger-pocket-core-deployments-tags:
          requires:
            - test
          filters:
            tags:
              only:
                - /^rc-.*/
                - /^stable-.*/
            branches:
              ignore: /.*/


